<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/aaee9130-6b38-4a1f-8aef-5f5305679d3e/resourceGroups/AZ204ComputeSolutionsProject/providers/Microsoft.Web/sites/ComputeSolutionsProjectApp</ResourceId>
    <ResourceGroup>AZ204ComputeSolutionsProject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://computesolutionsprojectapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e917ed6f-366e-4fab-93b1-01915f3cabf9</ProjectGuid>
    <PublishUrl>https://computesolutionsprojectapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ComputeSolutionsProjectApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>